<div class="container">
<% if @customer.errors.any? %>
  <h3><%= @customer.errors.count %>件のエラーが発生しました</h3>
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div class="container">
  <h2 class="my-4"><span class="bg-light">会員情報編集</sspan></h2>

  <div class="row">
    <div class="col-10">
      <%= form_with model: @customer, url: information_path(@customer.id), method: :patch do |f| %>
      <table>
        <thead>
          <tr>
            <th class="col-3"></th>
            <th class="col-3"></th>
            <th class="col-3"></th>
            <th class="col-3"></th>
          </tr>
        </thead>
        <tbody class="table table-borderless">
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name, class: "form-control" %></td>
            <td><%= f.text_field :first_name, class: "form-control" %></td>
            <td></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :last_name_kana, class: "form-control" %></td>
            <td><%= f.text_field :first_name_kana, class: "form-control" %></td>
            <td></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postal_code, class: "form-control" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>住所</td>
            <td colspan="3"><%= f.text_field :address, class: "form-control" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.text_field :telephone_number, class: "form-control" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email, class: "form-control" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <div class="d-flex justify-content-between">
              <%= f.submit "編集内容を保存", class: "btn btn-success" %><%= link_to "退会する", customers_confirm_path, class: "btn btn-danger" %>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>