<h2><%= @customer.last_name%><%= @customer.first_name %>さんの会員詳細</h2>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
    </tr>
    <tr>
      <th>氏名</th>
    </tr>
    <tr>
      <th>フリガナ</th>
    </tr>
    <tr>
      <th>郵便番号</th>
    </tr>
    <tr>
      <th>住所</th>
    </tr>
    <tr>
      <th>電話番号</th>
    </tr>
    <tr>
      <th>メールアドレス</th>
    </tr>
    <tr>
      <th>会員ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <td><%= @customer.is_delete ? '退会' : '有効' %></td>
    </tr>
  </tbody>
</table>

<%= link_to "編集する", edit_admin_customer_path(@customer.id) %> <span>注文履歴一覧を見る</span>

<!--注文履歴一覧を見る → 注文詳細画面作成後リンクにする-->