<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-12 mx-auto">
      <%= render 'public/shared/genre_search', genres: @genres %>
    </div>

    <div class="col-md-10 col-sm-12 mx-auto">
      <h2 class="my-4"><span class="bg-light"><%= @genre.name%>一覧(全<%= @genre.items.count %>件)</span></h2>

      <div class="d-flex flex-wrap">
      <% @genre.items.each do |item| %>
        <div class="col-3">
        <%= link_to item_path(item.id) do %><%= image_tag item.get_image(100,100) %><% end %><br>
        <%= item.name %><br>
        ￥<%= item.price.to_s(:delimited) %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>