<div class="container">
  <h3 class="text-success">
    <%= flash[:new_address] %>
    <%= flash[:update_address] %>
  </h3>
<% if @address.errors.any? %>
  <h3 class="text-danger"><%= @address.errors.count %>件のエラーが発生しました</h3>
  <ul>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div class="container">
  <h2 class="my-4"><span class="bg-light">配送先登録/一覧</spna></h2>

  <div class="row">
    <div class="col-12">
    <%= form_with model: @address, url: addresses_path(@address.id), method: :post do |f| %>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th class="col-3"></th>
            <th class="col-3"></th>
            <th class="col-3"></th>
            <th class="col-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td><%= f.text_field :postal_code, class: "form-control" %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>住所</td>
            <td colspan="2"><%= f.text_field :address, class: "form-control"  %></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>宛名</td>
            <td><%= f.text_field :name, class: "form-control" %></td>
            <td></td>
            <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
    <% end%>
    </div>

    <div class="col-10 mt-3">
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th class="col-2">郵便番号</th>
          <th class="col-5">住所</th>
          <th class="col-2">宛名</th>
          <th class="col-3"></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td class="actions text-center">
            <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success mx-1" %>
            <%= link_to "削除する", address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger mx-1" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>