<h2>注文情報入力</h2>

<%= form_with model: @order, url: confirm_orders_path(@order.id), method: :post do |f| %>
<%= f. hidden_field :postage, :value => 800 %>
<p>支払方法</p>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:transfer] %>

<p>お届け先</p>
  <%= f.radio_button :address_select, 0 %>
  <%= f.label :address, "ご自身の住所" %><br>
  <%= current_customer.address %><br>

  <%= f.radio_button :address_select, 1 %>
  <%= f.label :address, "登録先住所から選択" %><br>
  <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :address_display) %><br>

  <%= f.radio_button :address_select, 2 %>
  <%= f.label :address, "新しいお届け先" %><br>
  <table>
    <tbody>
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td>宛名</td>
        <td><%= f.text_field :name %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "確認画面へ進む" %>

<% end %>