<h2>ログイン</h2>

<%= form_with model: @customer, url: customer_session_path do |f| %>
<table>
  <tbody>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td>パスワード</td>
      <td><%= f.password_field :password %></td>
    </tr>
  </tbody>
</table>
  <%= f.submit "ログイン" %>

<% end %>

<h2>会員登録がお済でない方</h2>
<%= render "public/shared/links" %>
