<div class="container">
  <div class="row">
    <div class="col-9">
      <h2 class="my-4"><span class="bg-light">商品一覧(全<%= @items.count %>件)</span></h2>

      <div class="d-flex flex-row">
      <% @items.each do |item| %>
        <div class="col-3">
        <%= link_to item_path(item.id) do %><%= image_tag item.image %><% end %><br>
        <%= item.name %><br>
        ￥<%= item.price.to_s(:delimited) %>
        </div>
      <% end %>
    </div>
  </div>
</div>