<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="container">
          <h1 class="mt-5"><a href="/">LOGO</a></h1>
          <% if customer_signed_in? %>
            <p class="ml-5 mt-5 mb-0 pl-5">ようこそ、<%= current_customer.last_name %>さん！</p>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle-navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item ml-5">
                  <%= link_to admin_items_path do %>
                    <button type="button" class="btn btn-outline-dark">商品一覧</button>
                  <% end %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to admin_customers_path do %>
                   <button type="button" class="btn btn-outline-dark"> 会員一覧</button>
                  <% end %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to admin_path do %>
                    <button type="button" class="btn btn-outline-dark">注文履歴一覧</button>
                  <% end %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to admin_genres_path do%>
                    <button type="button" class="btn btn-outline-dark">ジャンル一覧</button>
                  <% end %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to destroy_admin_session_path, method: :delete do %>
                    <button type="button" class="btn btn-outline-dark">ログアウト</button>
                  <% end %>
                </li>
              <% elsif customer_signed_in? %>
                <li class="nav-item ml-5">
                  <%= link_to customer_path do %>
                    <button type="button" class="btn btn-outline-dark">マイページ</button>
                  <% end %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to items_path do %>
                    <button type="button" class="btn btn-outline-dark">商品一覧</button>
                  <% end %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to cart_items_path do %>
                    <button type="button" class="btn btn-outline-dark">カート</button>
                  <% end %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to destroy_customer_session_path, method: :delete do %>
                    <button type="button" class="btn btn-outline-dark">ログアウト</button>
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item ml-5">
                  <%= link_to about_path do %>
                    <button type="button" class="btn btn-outline-dark">About</button>
                  <% end %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to items_path do %>
                    <button type="button" class="btn btn-outline-dark">商品一覧</button>
                  <% end %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to new_customer_registration_path do %>
                    <button type="button" class="btn btn-outline-dark">新規登録</button>
                  <% end %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to new_customer_session_path do %>
                    <button type="button" class="btn btn-outline-dark">ログイン</button>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container d-flex justify-content-end mb-3">
        <%= form_tag items_path, :method => "get" do %>
          <%= text_field_tag :search, "", placeholder: "Search" %>
        <% end %>
    </header>
    <%= yield %>
    <footer class="border-top mt-4">
      <div class="container py-5"></div>
    </footer>
  </body>
</html>
